<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<style type="text/css">
#quoteContainer div {
  padding-top: 25%;
  padding-bottom: 0%;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Arial Bold', sans-serif;
}



</style>
<style type="text/css">
#thanks div {
  padding-top: 25%;
  padding-bottom: 0%;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Arial Bold', sans-serif;
}
</style>

<style>
ul.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
</style>

<style type="text/css">
  .sign-in-facebook
  {
    background-image: url('https://cdn3.iconfinder.com/data/icons/flat-icons-web/40/Refresh-512.png');
    background-position: -50px -60px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 41px;
    color: #000;
  }

</style>