<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<style type="text/css">
#quoteContainer div {
  padding-top: 25%;
  padding-bottom: 0%;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Arial Bold', sans-serif;
}



</style>
<style type="text/css">
#thanks div {
  padding-top: 25%;
  padding-bottom: 0%;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Arial Bold', sans-serif;
}
</style>