{% extends "base.html" %}

{% block head_title %} Sign Up || {{ block.super }}{% endblock head_title %}

{% block content %}

<!-- <div class="jumbotron jumbotron-fluid" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);"> -->

  <div class="container">
    <div >
    <!-- <h1 class="display-2" class="mx-auto" style="width: 100px;"></h1> -->
    <h1>Sign UP</h1>
    </div>
    <form method="POST"> {% csrf_token %}
		<div class="form-group">
		{{ form.as_p }}
		<button class="btn btn-primary" type="submit">Save</button>
		</div>
	</form>
  </div>
<!-- </div> -->
<script type="text/javascript">
	var colors = ['#feafbc', '#f4b3dc','#c19bdf','#70d0ec','#9ae7d9'];

	var changeBackground = function() {
	    document.body.style.background = colors[Math.floor(Math.random()*colors.length)];
	};

	changeBackground();

	function refresh() {
	  history.go();
	}
</script>

{% if form.errors.non_field_errors %}
{{ form.errors.non_field_errors }}
{% endif %}

{% endblock content %}



<!-- 	<input type="text" name="name" placeholder="Contact Name"><br/>
	<input type="text" name="phone" placeholder="Contact Number"><br/>
	<input type="text" name="location" placeholder="location"><br/> -->