{% extends "base.html" %}

{% block head_title %} Sign Up {% endblock head_title %}

{% block content %}

  <div class="container">
     <div id="quoteContainer">
     </div>
     <center>
     	</br>
	     	<p>
		  		<a class="btn btn-info" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseForm">
		    		Get Inspired
		  		</a>
		  	</p>
	      		<form method="POST"> {% csrf_token %}
					<div class="collapse" id="collapseForm">
						<div class="form-group">

							</br>
							<!-- <p> {{ form.name }} </p> -->
							<p> {{ form.phone }} 
							 <button class="btn btn-info" type="submit">Submit</button>
							 </p>
							</br>
							
				
						</div>
					</div>
					<p>	{{ form.errors}} </p>
				</form>
	</center>
  </div>
 
{% if form.errors.non_field_errors %}
{{ form.errors.non_field_errors }}
{% endif %}

{% endblock content %}

