{% extends "base.html" %}

{% block head_title %}Contacts List || {{ block.super }}{% endblock head_title %}

{% block content %}
<h1> Contact List</h1>

<table class="table table-striped" >
	
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Phone</th>
      <th>Location</th>
    </tr>
      {% for obj in object_list %}
  </thead>
  <tbody>
    <tr class="table table-striped">
      <th scope="row"></th>
      <td><a href='{{ obj.get_absolute_url }}'>{{ obj.name }}</td>
      <td>{{ obj.phone }}</td>
      <td>{{ obj.location }}</td>
    </tr>
  </tbody>
  	{% endfor %}
</table>

<!-- <ul>
	{% for obj in object_list %}
		<li><a href='/contacts_list/{{obj.slug}}/'>{{ obj.name }} </a> <br/>{{ obj.phone }} 
			{{ obj.location }}
		</li>
	{% endfor %}
</ul> -->
{% endblock content %}